# to skip the data folder.
/Brain/simulation/
/wheel_resource
Meta-300B-30K.pt
*.log
*.json
*.pt


# Python build artifacts and caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/